:root {
	/* COLORS */
	/* dark color */
	--dark-color100: hsl(0, 0%, 50%);
	--dark-color200: hsl(0, 0%, 40%);
	--dark-color300: hsl(0, 0%, 30%);
	--dark-color400: hsl(0, 0%, 20%);
	--dark-color500: hsl(0, 0%, 10%);

	/* light color */
	--white-color100: hsl(0, 0%, 76%);
	--white-color200: hsl(0, 0%, 82%);
	--white-color300: hsl(0, 0%, 88%);
	--white-color400: hsl(0, 0%, 94%);
	--white-color500: hsl(0, 0%, 100%);

	--primary-color100: hsl(191, 96%, 90%);
	--primary-color200: hsl(195, 96%, 81%);
	--primary-color300: hsl(198, 92%, 70%);
	--primary-color400: hsl(202, 89%, 62%);
	--primary-color500: hsl(216, 98%, 52%);
	--primary-color600: hsl(215, 98%, 48%);

	/* Second color */
	// --second-color400: #E36F7B;
	// --second-color500: #ec4052;
	// --second-color600: #d63343;
	--second-color400: hsl(253, 100%, 76%);
	--second-color500: hsl(253, 100%, 71%);
	--second-color600: hsl(253, 100%, 66%);
	// --second-color500: #8B0BFC;


	/* Third color */
	--third-color400: #FFC14D;
	--third-color500: #ffa500;
	--third-color600: #E69500;

	/* otros colores */
	--four-color400: #55b742;
	--four-color500: #20b004;
	--four-color600: #22990b;

	/* Fonts Family */
	--heading-font: 'Roboto', sans-serif;
	--body-font: 'Open Sans', sans-serif;

	/* Fonts size */
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.85rem;

	/* Width layout */
	--width-layout: 80rem;

	/* Heights */
	--header-height: 4rem;

	/* Paddings */
	--small-padding: 0.5rem;
	--normal-padding: 1rem;
	--large-padding: 1.5rem;
	--x-large-padding: 2rem;

	/* Margins */
	--small-margin: 0.5rem;
	--normal-margin: 1rem;
	--large-margin: 1.5rem;
	--x-large-margin: 2rem;

	/* Border-radius */
	--border-radius: 0.3rem;

	/* Z-index */
	--z-index100: 100;
	--z-index200: 110;
	--z-index300: 120;

	/* grid gaps */
	--small-gap: 0.5rem;
	--normal-gap: 1rem;
	--large-gap: 1.5rem;

	/* Table */
	--width-table: 1200px;
	--height-table: 300px;
	--frozen-width: 10rem;

	/* Medidas de media querys */
	--table-width: 48rem;
	--desktop-width: 64rem;
	--large-desktop-width: 80rem;

	--table-width: 768px;
	--desktop-width: 1024px;
	--large-desktop-width: 1280px;
	
	@media screen and (min-width: 1024px) {
		& {
			/* Fonts size */
			--h1-font-size: 2.5rem;
			--h2-font-size: 1.75rem;
			--h3-font-size: 1.50rem;
			--normal-font-size: 1.1rem;
			--small-font-size: .95rem;
	
			/* Heights */
			--header-height: 4.5rem;
		}
	}
}