$height-image: 200px;
$min-width-card: 270px;
$max-width-card: 290px;

$width-input-action: 100px;
$width: 300px;
$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

.card-project {
	background-color: var(--dark-color400);
	border-radius: var(--border-radius);
	min-width: $min-width-card;
	max-width: $max-width-card;
	padding: var(--normal-padding);
	display: grid;
	align-content: space-between;

	&__image{
		height: $height-image;
	}
	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: var(--border-radius);
	}
	&__content { }
	&__title,
	&__description {
		text-align: center;
	}
	
	&__action {
		margin-top: auto;
		padding: var(--small-padding) 0;
		
		display: flex;
		justify-content: space-evenly;
		margin-top: auto;
	}

	// Botones
	&__show {
		color: var(--primary-color500);
		
		&:hover {
			color: var(--white-color500); 
			border-color: var(--primary-color500); 
			background-color: var(--primary-color500);
		}
	}
	&__dowload {
		color: var(--second-color500);
		
		&:hover {
			color: var(--white-color500); 
			border-color: var(--second-color500); 
			background-color: var(--second-color500);
		}
	}
}
