@mixin inputs {
	display: inline-block;
	border: none;
	font-family: inherit;
	font-size: var(--small-font-size);
	box-shadow: 1px 1px 3px var(--light-color600);
	padding: var(--small-padding);
	border-radius: var(--border-radius);
}

.input {
	@include inputs;
}